.video-js {
  border-radius: 12px;
}

/*
  The following TWO rules set
  the location and size of
  the big play button
*/
/* 
  This rule sets the color,
   opacity, size and position of the
   big play button 
*/
.video-js.vjs-mouse .vjs-big-play-button {
  background-color: #000000;
  opacity: .65;
}
/* 
  This rule sets the location and size
  of the triangular play icon in the
  big play button 
*/
.video-js.vjs-mouse .vjs-big-play-button:before {
  font-size: 40px;
  color: white;
  opacity: 0.9;
  margin-top: -2.5%;
  margin-left: -2.5%
}

/* ControlBar (Inherited by icons in the ControlBar, but NOT the ProgressControl) */
.video-js .vjs-control-bar {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

/* PlayProgressBar */
.video-js .vjs-play-progress.vjs-slider-bar {
  background-color: #0875E1;
}

.video-js .vjs-volume-level{
  background-color: #0875E1;
  border-radius: 12px;
}
